body {
  margin: 0;
}

svg {
  position: absolute;
  top: 0; left: 0; bottom: 0; width: 50%;
  background-repeat: no-repeat;
  background-color: #778899;
  cursor: grab;
}

.land {
  fill: #ccaa99;
  filter: drop-shadow(0 0 8px #444);
}

.pin {
  fill: #69f;
  stroke: #369;
  stroke-width: 1.5px;
  cursor: pointer;
  transition: 0.15s;
}

.pin:hover {
  stroke-width: 12px;
  filter: drop-shadow(0 0 6px #444);

};